        <div class="row">
            <div class="col-sm-4">
                <div class="psize panel panel-default">
                    <div class="panel-heading" style="text-align: center;">Compose CAN Message</div>
                    <div class="panel-body">
                        <label class="checkbox-inline"><input type="checkbox" ng-model="custom">Custom</label>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="raw">RAW</label>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="template">Template</label>
                        <div class="input-group" ng-show="template">
                            <span class="input-group-addon">Template</span>
                            <select ng-disabled="custom" class="form-control" style= ng-options="item as item.label for item in items" ng-model="sendMessage" ></select>
                            <!-- <select ng-disabled="custom" class="form-control" style="width: 220px;">
                                <option>Heartbeat</option>
                                <option>Start</option>
                                <option>Stop</option>
                            </select> -->
                        </div>


<!--                         (format {sid}#{type byte}{data}) -->
                    <div ng-show="custom">
                        <div class="input-group" style="padding-top: 10px;">
                            <span class="input-group-addon">To</span>
                            <select class="form-control" ng-change="changeModule()" ng-disabled="!custom" ng-model="selectedModule" ng-options="m.name for m in modules">
                            </select>
                            <span class="input-group-addon">From</span>
                            <select class="form-control" ng-change="changeModule()" ng-disabled="!custom" ng-model="selectedModule" ng-options="m.name for m in modules">
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Type</span>
                            <select class="form-control" ng-change="changeSize()" ng-disabled="!custom" ng-model="msgType" ng-options="s.name for s in msgTypes">  
                            </select>
                            <span class="input-group-addon">Size (bytes)</span>
                            <select class="form-control" ng-change="changeSize()" ng-disabled="!custom" ng-model="msgDataSize" ng-options="s.name for s in msgSizes">
                            </select>
                        </div>
                        <div class="input-group">
                            <!-- make this configurable to not be in hex -->
                            <span class="input-group-addon">Data (hex)</span>
                            <input ng-disabled="!custom" maxlength="{{msgDataSize}} * 2" type="text" class="form-control" name="fname" ng-model="customData">
                        </div>
                    </div>
                    <div ng-show="raw">
                        Format: {sid}#{type byte}{data bytes}
                        <div class="input-group">
                            <span class="input-group-addon">Raw</span>
                            <input type="text" class="form-control" name="fname" ng-model="rawMessage">
                        </div>
                    </div>
                        
                        <button class="btn btn-primary btn-block" ng-click="sendMessage(sendMessage)">Send</button>
                    </div>  

                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">Sent Messages</div>
                    <div class="psizeScroll panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                            <th>
                                <a href="#" ng-click="sentSortType = 'timestamp'; sentSortReverse = !sentSortReverse">
                                Timestamp
                                <span ng-show="sentSortType == 'timestamp' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'timestamp' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sentSortType = 'sid'; sentSortReverse = !sentSortReverse">
                                SID
                                <span ng-show="sentSortType == 'sid' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'sid' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sentSortType = 'type'; sentSortReverse = !sentSortReverse">
                                Type
                                <span ng-show="sentSortType == 'type' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'type' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sentSortType = 'data'; sentSortReverse = !sentSortReverse">
                                Data
                                <span ng-show="sentSortType == 'data' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'data' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="message in sentMessages | orderBy: sentSortType:sentSortReverse">
                            <td><span class="label label-info">{{message.timestamp}}</span></td>
                            <td>{{message.sid}}</td>
                            <td>{{message.type}}</td>
                            <td>{{message.data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
                    
    <!-- <div class="row">
        <div class="col-sm-12">
        <div class="panel panel-default">
        <div class="panel-heading">CAN Messages</div>
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="message in messages">
                <td title="'Module'" filter="{ module: 'text'}" sortable="'module'">
                    {{message.module}}</td>
                <td title="'Value'" filter="{ value: 'number'}" sortable="'value'">
                    {{message.value}}</td>
            </tr>
        </table>
        </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="">
                    <h4>Message Archive</h4>
                </div>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search messages" ng-model="messageSearch">
                        </div>
                    </div>
                </form>
                <div class="panel-body contact">
                
                <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
                            Timestamp
                            <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'sid'; sortReverse = !sortReverse">
                            SID
                            <span ng-show="sortType == 'sid' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'sid' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                            Type
                            <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'data'; sortReverse = !sortReverse">
                            Data
                            <span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="msg in messages | orderBy: sortType:sortReverse | filter: messageSearch">
                        <td>{{msg.timestamp}}</td>
                        <td><span class="label label-info">{{msg.sid}}</span></td>
                        <td>{{msg.type}}</td>
                        <td>{{msg.data}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

