        <div class="row">
            <div class="col-sm-4">
                <div class="psize panel panel-default">
                    <div class="panel-heading" style="text-align: center;">Compose CAN Message</div>
                    <div class="panel-body">
                        <div class="input-group" style="padding-bottom: 20px;">
                            <span class="input-group-addon" style="width: 82px;">Template</span>
                            <select ng-disabled="custom" class="form-control" style="width: 220px;">
                                <option>Heartbeat</option>
                                <option>Start</option>
                                <option>Stop</option>
                            </select>
                        </div>

                        <label class="checkbox-inline"><input type="checkbox" ng-model="custom">Custom Message</label>

                        <div class="input-group" style="padding-top: 10px;">
                            <span class="input-group-addon" style="width: 82px;">Module</span>
                            <select class="form-control" ng-change="changeModule()" ng-disabled="!custom" style="width: 220px;" ng-model="selectedModule" ng-options="m.name for m in modules">
                                
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 82px;">Size</span>
                            <select class="form-control" ng-change="changeSize()" ng-disabled="!custom" style="width: 220px;" ng-model="selectedSize" ng-options="s.name for s in msgSizes">
                                
                            </select>
                        </div>
                       
                        <form>
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 82px;">Message</span>
                            <input ng-disabled="!custom" type="text" class="form-control" name="fname" ng-model="customMessage" style="width: 220px;">
                        </div>
                        <button class="btn btn-primary btn-block" style="margin-top: 15px; width: 302px;">Send</button>
                        </form>
                    </div>  

                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">Sent Messages</div>
                    <div class="psizeScroll panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                            <th>
                                <a href="#" ng-click="sentSortType = 'module'; sentSortReverse = !sentSortReverse">
                                Module
                                <span ng-show="sentSortType == 'module' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'module' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sentSortType = 'timestamp'; sentSortReverse = !sentSortReverse">
                                Timestamp
                                <span ng-show="sentSortType == 'timestamp' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'timestamp' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sentSortType = 'value'; sentSortReverse = !sentSortReverse">
                                Data
                                <span ng-show="sentSortType == 'value' && !sentSortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sentSortType == 'value' && sentSortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="message in sentMessages | orderBy: sentSortType:sentSortReverse">
                            <td><span class="label label-info">{{message.module}}</span></td>
                            <td>{{message.timestamp}}</td>
                            <td>{{message.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
                    
    <!-- <div class="row">
        <div class="col-sm-12">
        <div class="panel panel-default">
        <div class="panel-heading">CAN Messages</div>
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="message in messages">
                <td title="'Module'" filter="{ module: 'text'}" sortable="'module'">
                    {{message.module}}</td>
                <td title="'Value'" filter="{ value: 'number'}" sortable="'value'">
                    {{message.value}}</td>
            </tr>
        </table>
        </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="">
                    <h4>Message Archive</h4>
                </div>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search messages" ng-model="messageSearch">
                        </div>
                    </div>
                </form>
                <div class="panel-body contact">
                
                <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'module'; sortReverse = !sortReverse">
                            Module
                            <span ng-show="sortType == 'module' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'module' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
                            Timestamp
                            <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'value'; sortReverse = !sortReverse">
                            Data
                            <span ng-show="sortType == 'value' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'value' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="msg in messages | orderBy: sortType:sortReverse | filter: messageSearch">
                        <td><span class="label label-info">{{msg.module}}</span></td>
                        <td>{{msg.timestamp}}</td>
                        <td>{{msg.value}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

