<div class="row">
    <div class="col-sm-3" id="line-chart" ng-controller="MainCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Control</div>
            This is where the BCM control stuff is gonna go
        </div>
    </div>
    <div class="col-sm-3" id="line-chart" ng-controller="MainCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Status</div>
            This is where the BSM Status stuff is gonna go
        </div>
    </div>
    <div class="col-md-6" ng-controller="ChartCtrl">    
        <div class="panel panel-default">
            <div class="panel-heading">Brakes</div>
            
        </div>
    </div>   
</div>
<div class="row">
<!--     <div class="col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Temperatures</div>
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div> -->
</div>