<div class="row">
    <div class="col-sm-3" id="line-chart" ng-controller="MainCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Control</div>
            This is where the BCM control stuff is gonna go
        </div>
    </div>
    <div class="col-sm-3" id="line-chart" ng-controller="MainCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Status</div>
            This is where the BSM Status stuff is gonna go
        </div>
    </div>
    <div class="col-md-6" ng-controller="ChartCtrl">    
        <div class="panel panel-default">
            <div class="panel-heading">Brakes</div>
            <table class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Brake Speed</th>
                    </tr>
                    <tr>
                        <th>Brake 1</th>
                        <td ng-class="BCM_Brake_1_spd.status_style">{{BCM_Brake_1_spd.val}}</td>
                    </tr>
                    <tr>
                        <th>Brake 2</th>
                        <td ng-class="BCM_Brake_2_spd.status_style">{{BCM_Brake_2_spd.val}}</td>
                    </tr>
                    <tr>
                        <th>Brake 3</th>
                        <td ng-class="BCM_Brake_3_spd.status_style">{{BCM_Brake_3_spd.val}}</td>
                    </tr>
                    <tr>
                        <th>Brake 4</th>
                        <td ng-class="BCM_Brake_4_spd.status_style">{{BCM_Brake_4_spd.val}}</td>
                    </tr>
            </table>
            <table class="table table-bordered table-striped">
                    <tr>
                        <th>BCM Pressure 1</th>
                        <th>BCM Pressure 1</th>
                    </tr>
                    <tr>
                        <td ng-class="BCM_Pressure_1.status_style">{{BCM_Pressure_1.val}}</td>
                        <td ng-class="BCM_Pressure_2.status_style">{{BCM_Pressure_2.val}}</td>
                    </tr>
            </table>
        </div>
    </div>   
</div>
<div class="row">
<!--     <div class="col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Temperatures</div>
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div> -->
</div>