<div>
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px;">
            <!-- <h1 class="page-header">Dashboard</h1> -->
        </div>
       
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="panel panel-default">
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="message in messages">
                <td title="'Module'" filter="{ module: 'text'}" sortable="'module'">
                    {{message.module}}</td>
                <td title="'Value'" filter="{ value: 'number'}" sortable="'value'">
                    {{message.value}}</td>
            </tr>
        </table>
        </div>
    </div>
</div>
