<div class="row">
    <div class="col-md-3" ng-controller="ChartCtrl">   
        
        <div class="panel panel-default">

            <div class="panel-heading">Wheel 1</div>
            <div class="col-md-6" ng-controller="ChartCtrl"> 
                <ng-gauge size="200" type="full" thick="20" value="100" cap="butt" label="RPM"  foreground-color="#b31217" background-color="#ffffff" append=""></ng-gauge>
            </div>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>Voltage</th>
                        <th>Current</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td><button type="button" class="btn btn-outline btn-danger">100</button></td>
                        <td>100</td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3" ng-controller="ChartCtrl">    
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 2</div>
            <ng-gauge size="200" type="full" thick="20" value="21" cap="butt" label="RPM"  foreground-color="#b31217" background-color="#ffffff" append=""></ng-gauge>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th> 
                        <th>RPM</th>
                        <th>Voltage</th>
                        <th>Current</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td><button type="button" class="btn btn-outline btn-warning">100</button></td>
                        <td>100</td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 3</div>
                <ng-gauge size="200" type="full" thick="20" value="68" cap="butt" label="RPM"  foreground-color="#b31217" background-color="#ffffff" append=""></ng-gauge>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>Voltage</th>
                        <th>Current</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                    </tr>
            </table>
        </div> 
    </div>
    <div class="col-md-3" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 4</div>
                <ng-gauge size="200" type="full" thick="20" value="30" cap="butt" label="RPM"  foreground-color="#b31217" background-color="#ffffff" append=""></ng-gauge>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>Voltage</th>
                        <th>Current</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                    </tr>
            </table>
        </div> 
    </div>        
</div>