<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Hallbach</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 1</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        
                        <th>RPM</th>
                        <th>Status</th>
                        <th>Voltage</th>
                        <th>Current</th>
                        <th>Whatever other stuff</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td>We Chill</td>
                        <td>100</td>
                        <td>100</td>
                        <td>these values can be color coded and stuff</td>
                    </tr>
            </table>
        </div>
    </div>    
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 2</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        
                        <th>RPM</th>
                        <th>Status</th>
                        <th>Voltage</th>
                        <th>Current</th>
                        <th>Whatever other stuff</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td>We Chill</td>
                        <td>100</td>
                        <td>100</td>
                        <td>these values can be color coded and stuff</td>
                    </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 3</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        
                        <th>RPM</th>
                        <th>Status</th>
                        <th>Voltage</th>
                        <th>Current</th>
                        <th>Whatever other stuff</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td>We Chill</td>
                        <td>100</td>
                        <td>100</td>
                        <td>these values can be color coded and stuff</td>
                    </tr>
            </table>
        </div>
    </div>    
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 4</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        
                        <th>RPM</th>
                        <th>Status</th>
                        <th>Voltage</th>
                        <th>Current</th>
                        <th>Whatever other stuff</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>5000</td>
                        <td>We Chill</td>
                        <td>100</td>
                        <td>100</td>
                        <td>these values can be color coded and stuff</td>
                    </tr>
            </table>
        </div>
    </div>
</div>