<div class="row">
    <div class="col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            Pod run progress bar can go here (Obviously we'll make it thicker)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default" ng-controller="MainCtrl">
            <!--         <uib-progress><uib-bar ng-repeat="bar in stacked track by $index" value="progress.value" type="{{progress.type}}"><span ng-hide="progress.value < 5">{{progress.value}}%</span></uib-bar></uib-progress> -->
                <div justgage
                title="Velocity" title-font-color="black"
                value="135" value-font-color="black"
                width="150" height="150" relative-gauge-size="{{relativeGaugeSize}}"
                value-min-font-size="{{valueMinFontSize}}" title-min-font-size="{{titleMinFontSize}}"
                label-min-font-size="{{labelMinFontSize}}" min-label-min-font-size="{{minLabelMinFontSize}}"
                maxLabelMinFontSize="{{maxLabelMinFontSize}}"
                min="0" max="250"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{levelColors}}" custom-sectors="{{customSectors}}" no-gradient="{{noGradient}}"
                label="mph" label-font-color="black"
                start-animation-time="{{startAnimationTime}}" start-animation-type="{{startAnimationType}}"
                refresh-animation-time="{{refreshAnimationTime}}" refresh-animation-type="{{refreshAnimationType}}"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default" ng-controller="MainCtrl">   
            <div justgage
            title="Temperature" title-font-color="black"
            value="90" value-font-color="black"
            width="150" height="150" relative-gauge-size="{{relativeGaugeSize}}"
            value-min-font-size="{{valueMinFontSize}}" title-min-font-size="{{titleMinFontSize}}"
            label-min-font-size="{{labelMinFontSize}}" min-label-min-font-size="{{minLabelMinFontSize}}"
            maxLabelMinFontSize="{{maxLabelMinFontSize}}"
            min="0" max="200"
            hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
            gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
            show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
            shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
            level-colors="{{levelColors}}" custom-sectors="{{customSectors}}" no-gradient="{{noGradient}}"
            label="C" label-font-color="black"
            start-animation-time="{{startAnimationTime}}" start-animation-type="{{startAnimationType}}"
            refresh-animation-time="{{refreshAnimationTime}}" refresh-animation-type="{{refreshAnimationType}}"
            donut="true" donut-start-angle="{{donutStartAngle}}"
            counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
            human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
            text-renderer="textRenderer">
            </div>
        </div>
    </div>
        <div class="col-md-2">
        <div class="panel panel-default" ng-controller="MainCtrl">   
            <div justgage
            title="Voltage" title-font-color="black"
            value="135" value-font-color="black"
            width="150" height="150" relative-gauge-size="{{relativeGaugeSize}}"
            value-min-font-size="{{valueMinFontSize}}" title-min-font-size="{{titleMinFontSize}}"
            label-min-font-size="{{labelMinFontSize}}" min-label-min-font-size="{{minLabelMinFontSize}}"
            maxLabelMinFontSize="{{maxLabelMinFontSize}}"
            min="0" max="250"
            hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
            gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
            show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
            shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
            level-colors="{{levelColors}}" custom-sectors="{{customSectors}}" no-gradient="{{noGradient}}"
            label="mph" label-font-color="black"
            start-animation-time="{{startAnimationTime}}" start-animation-type="{{startAnimationType}}"
            refresh-animation-time="{{refreshAnimationTime}}" refresh-animation-type="{{refreshAnimationType}}"
            donut="true" donut-start-angle="{{donutStartAngle}}"
            counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
            human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
            text-renderer="textRenderer">
            </div>
        </div>
    </div>
<div class="col-md-2">
        <div class="panel panel-default" ng-controller="MainCtrl">   
            <div justgage
            title="Roll" title-font-color="black"
            value="135" value-font-color="black"
            width="150" height="150" relative-gauge-size="{{relativeGaugeSize}}"
            value-min-font-size="{{valueMinFontSize}}" title-min-font-size="{{titleMinFontSize}}"
            label-min-font-size="{{labelMinFontSize}}" min-label-min-font-size="{{minLabelMinFontSize}}"
            maxLabelMinFontSize="{{maxLabelMinFontSize}}"
            min="0" max="250"
            hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
            gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
            show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
            shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
            level-colors="{{levelColors}}" custom-sectors="{{customSectors}}" no-gradient="{{noGradient}}"
            label="mph" label-font-color="black"
            start-animation-time="{{startAnimationTime}}" start-animation-type="{{startAnimationType}}"
            refresh-animation-time="{{refreshAnimationTime}}" refresh-animation-type="{{refreshAnimationType}}"
            donut="false" donut-start-angle="{{donutStartAngle}}"
            counter="{{counter}}" pointer="true" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
            human-friendly="{{humanFriendly}}" pointer="true" human-friendly-decimal="{{humanFriendlyDecimal}}"
            text-renderer="textRenderer">
        </div>
    </div>
</div>
    <div class="col-md-2">
        <div class="panel panel-default" ng-controller="MainCtrl">   
            <div justgage
            title="Pitch" title-font-color="black"
            value="135" value-font-color="black"
            width="150" height="150" relative-gauge-size="{{relativeGaugeSize}}"
            value-min-font-size="{{valueMinFontSize}}" title-min-font-size="{{titleMinFontSize}}"
            label-min-font-size="{{labelMinFontSize}}" min-label-min-font-size="{{minLabelMinFontSize}}"
            maxLabelMinFontSize="{{maxLabelMinFontSize}}"
            min="0" max="250"
            hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
            gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
            show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
            shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
            level-colors="{{levelColors}}" custom-sectors="{{customSectors}}" no-gradient="{{noGradient}}"
            label="mph" label-font-color="black"
            start-animation-time="{{startAnimationTime}}" start-animation-type="{{startAnimationType}}"
            refresh-animation-time="{{refreshAnimationTime}}" refresh-animation-type="{{refreshAnimationType}}"
            donut="false" donut-start-angle="{{donutStartAngle}}"
            counter="{{counter}}" pointer="true" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
            human-friendly="{{humanFriendly}}" pointer="true" human-friendly-decimal="{{humanFriendlyDecimal}}"
            text-renderer="textRenderer">
        </div>
    </div>
</div>
    <div class="col-md-2">
        <div class="panel panel-default" ng-controller="MainCtrl">   
            <div justgage
            title="Yaw" title-font-color="black"
            value="135" value-font-color="black"
            width="150" height="150" relative-gauge-size="{{relativeGaugeSize}}"
            value-min-font-size="{{valueMinFontSize}}" title-min-font-size="{{titleMinFontSize}}"
            label-min-font-size="{{labelMinFontSize}}" min-label-min-font-size="{{minLabelMinFontSize}}"
            maxLabelMinFontSize="{{maxLabelMinFontSize}}"
            min="0" max="250"
            hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
            gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
            show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
            shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
            level-colors="{{levelColors}}" custom-sectors="{{customSectors}}" no-gradient="{{noGradient}}"
            label="mph" label-font-color="black"
            start-animation-time="{{startAnimationTime}}" start-animation-type="{{startAnimationType}}"
            refresh-animation-time="{{refreshAnimationTime}}" refresh-animation-type="{{refreshAnimationType}}"
            donut="false" donut-start-angle="{{donutStartAngle}}"
            counter="{{counter}}" pointer="true" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
            human-friendly="{{humanFriendly}}" pointer="true" human-friendly-decimal="{{humanFriendlyDecimal}}"
            text-renderer="textRenderer">
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-4" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Telemetry</div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Pos</th>
                        <th>Vel</th>
                        <th>Accel</th>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>y</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>z</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                    </tr>
            </table>
<!--             <nvd3 options="options" data="data"></nvd3> -->
        </div>
    </div>
    <div class="col-sm-4" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Telemetry</div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>More</th>
                        <th>Values</th>
                        <th>With</th>
                        <th>Color</th>
                        <th>Status</th>
                        <th>Indicators</th>
                        <th>Can</th>
                        <th>Go</th>
                        <th>Here</th>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
            </table>
<!--             <nvd3 options="options" data="data"></nvd3> -->
        </div>
    </div>
    <div class="col-sm-4" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Temperature</div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>More</th>
                        <th>Values</th>
                        <th>With</th>
                        <th>Color</th>
                        <th>Status</th>
                        <th>Indicators</th>
                        <th>Can</th>
                        <th>Go</th>
                        <th>Here</th>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
            </table>
<!--             <nvd3 options="options" data="data"></nvd3> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
</div>