<div class="row">
    <div class="col-sm-12" id="line-chart">
        <div class="panel panel-default" style="height: 70px">
            <nvd3  id="chart" options="status_bar_options" data="status_bar_data" ></nvd3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <!--         <uib-progress><uib-bar ng-repeat="bar in stacked track by $index" value="progress.value" type="{{progress.type}}"><span ng-hide="progress.value < 5">{{progress.value}}%</span></uib-bar></uib-progress> -->
                <div justgage
                title="Velocity" title-font-color="black"
                value="{{VNM_velX.val}}" value-font-color="black" min="0" max="90"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{velocity_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="m/s" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <!--         <uib-progress><uib-bar ng-repeat="bar in stacked track by $index" value="progress.value" type="{{progress.type}}"><span ng-hide="progress.value < 5">{{progress.value}}%</span></uib-bar></uib-progress> -->
                <div justgage
                title="Temp" title-font-color="black"
                value="{{VSM_T_cabin.val}}" value-font-color="black" min="0" max="80"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{temp_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="C" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default" >   
                <div justgage
                title="Voltage" title-font-color="black"
                value="tbd" value-font-color="black" min="0" max="7000"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{voltage_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="V" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
        </div>
    </div>
<!--         <div class="col-md-2">
        <div class="panel panel-default" >   
            <div justgage
                title="Current" title-font-color="black"
                value="tbd" value-font-color="black" min="0" max="7000"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{current_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="A" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
        </div>
    </div> -->
<div class="col-md-2">
    <div class="panel panel-default" style="text-align:center;"> 
         <h4>Roll</h4>
         <!-- <canvas gauge-js options="guageOptions" ng-model="roll" style="width: 100%; height 100%"></canvas> -->
        <div ng-radial-gauge ranges="roll_ranges" value="VNM_roll.val || 0" value-unit="unit" 
            precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit">
         </div>
         <h4>{{VNM_roll.val}}&deg</h4>
    </div>
</div>
<div class="col-md-2">
    <div class="panel panel-default" style="text-align:center;"> 
         <h4>Pitch</h4>
         <!-- <canvas gauge-js options="guageOptions" ng-model="pitch" style="width: 100%; height 100%"></canvas> -->
        <div ng-radial-gauge ranges="pitch_ranges" value="VNM_pitch.val || 0" value-unit="unit" 
            precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit">
         </div>
         <h4>{{VNM_pitch.val}}&deg</h4>
    </div>
</div>
<div class="col-md-2">
    <div class="panel panel-default" style="text-align:center;"> 
         <h4>Yaw</h4>
         <!-- <canvas gauge-js options="guageOptions" ng-model="yaw" style="width: 100%; height 100%"></canvas> -->
         <div ng-radial-gauge ranges="yaw_ranges" value="VNM_yaw.val || 0" value-unit="unit" 
            precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit">
         </div>
         <h4>{{VNM_yaw.val}}&deg</h4>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-6" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Temperatures</div>
            <nvd3 options="VSM_barchart_options" data="VSM_barchart_data" api="d3_api"></nvd3>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>HV1</th>
                        <th>HV2</th>
                        <th>WCM1</th>
                        <th>WCM1</th>
                        <th>Cabin</th>
                        <th>12V1</th>
                        <th>12V2</th>

                    </tr>
                    <tr>
                        <td ng-class="VSM_T_HV1.status_style">{{VSM_T_HV1.val}}</td>
                        <td ng-class="VSM_T_HV2.status_style">{{VSM_T_HV2.val}}</td>
                        <td ng-class="VSM_T_WCM1.status_style">{{VSM_T_WCM1.val}}</td>
                        <td ng-class="VSM_T_WCM2.status_style">{{VSM_T_WCM2.val}}</td>
                        <td ng-class="VSM_T_cabin.status_style">{{VSM_T_cabin.val}}</td>
                        <td ng-class="VSM_T_12V1.status_style">{{VSM_T_12V1.val}}</td>
                        <td ng-class="VSM_T_12V2.status_style">{{VSM_T_12V2.val}}</td>
                    </tr>
<!--                     <tr>
                        <td>100</td>
                        <td>100</td>
                        <td><button type="button" class="btn btn-outline btn-success">100</button></td>
                        <td>100</td>
                        <td>100</td>
                    </tr> -->
            </table>
<!--             <nvd3 options="options" data="data"></nvd3> -->
        </div>
    </div>
    <div class="col-sm-3" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Telemetry</div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Pos</th>
                        <th>Vel</th>
                        <th>Accel</th>
                    </tr>
                    <tr>
                        <td><b>X</b></td>
                        <td ng-class="VNM_posX.status_style">{{VNM_posX.val}}</td>
                        <td ng-class="VNM_velX.status_style">{{VNM_velX.val}}</td>
                        <td ng-class="VNM_accX.status_style">{{VNM_accX.val}}</td>
                    </tr>
                    <tr>
                        <td><b>Y</b></td>
                        <td ng-class="VNM_posY.status_style">{{VNM_posY.val}}</td>
                        <td ng-class="VNM_velY.status_style">{{VNM_velY.val}}</td>
                        <td ng-class="VNM_accY.status_style">{{VNM_accY.val}}</td>
                    </tr>
                    <tr>
                        <td><b>Z</b></td>
                        <td ng-class="VNM_posZ.status_style">{{VNM_posZ.val}}</td>
                        <td ng-class="VNM_velZ.status_style">{{VNM_velZ.val}}</td>
                        <td ng-class="VNM_accZ.status_style">{{VNM_accZ.val}}</td>
                    </tr>
            </table>
<!--             <nvd3 options="options" data="data"></nvd3> -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Brakes</div>
            <table class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Brake Speed</th>
                    </tr>
                    <tr>
                        <th>Brake 1</th>
                        <td ng-class="BCM_Brake_1_spd.status_style">{{BCM_Brake_1_spd.val}}</td>
                    </tr>
                    <tr>
                        <th>Brake 2</th>
                        <td ng-class="BCM_Brake_2_spd.status_style">{{BCM_Brake_2_spd.val}}</td>
                    </tr>
                    <tr>
                        <th>Brake 3</th>
                        <td ng-class="BCM_Brake_3_spd.status_style">{{BCM_Brake_3_spd.val}}</td>
                    </tr>
                    <tr>
                        <th>Brake 4</th>
                        <td ng-class="BCM_Brake_4_spd.status_style">{{BCM_Brake_4_spd.val}}</td>
                    </tr>
            </table>
            <table class="table table-bordered table-striped">
                    <tr>
                        <th>BCM Pressure 1</th>
                        <th>BCM Pressure 1</th>
                    </tr>
                    <tr>
                        <td ng-class="BCM_Pressure_1.status_style">{{BCM_Pressure_1.val}}</td>
                        <td ng-class="BCM_Pressure_2.status_style">{{BCM_Pressure_2.val}}</td>
                    </tr>
            </table>
        </div>
    </div>
        <div class="col-sm-3" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Motors</div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>V</th>
                        <th>A</th>
                    </tr>
                    <tr>
                        <th><b>Motor 1</b></th>
                        <td ng-class="VSM_T_motor1.status_style">{{VSM_T_motor1.val}}</td>
                        <td ng-class="MCM_HB1_spd.status_style">{{MCM_HB1_spd.val}}</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
                    <tr>
                        <th><b>Motor 2</b></th>
                        <td ng-class="VSM_T_motor2.status_style">{{VSM_T_motor2.val}}</td>
                        <td ng-class="MCM_HB2_spd.status_style">{{MCM_HB2_spd.val}}</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
                    <tr>
                        <th><b>Motor 3</b></th>
                        <td ng-class="VSM_T_motor3.status_style">{{VSM_T_motor3.val}}</td>
                        <td ng-class="MCM_HB3_spd.status_style">{{MCM_HB3_spd.val}}</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
                    <tr>
                        <th><b>Motor 4</b></th>
                        <td ng-class="VSM_T_motor4.status_style">{{VSM_T_motor4.val}}</td>
                        <td ng-class="MCM_HB4_spd.status_style">{{MCM_HB4_spd.val}}</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
            </table>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">Status</div>
                Show various status of modules here
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
</div> -->