
<div class="row">
    <div class="panel panel-default">
<!--         <uib-progress><uib-bar ng-repeat="bar in stacked track by $index" value="progress.value" type="{{progress.type}}"><span ng-hide="progress.value < 5">{{progress.value}}%</span></uib-bar></uib-progress> -->
        <ng-gauge size="200" type="full" thick="30" value="21.2" cap="butt" label="Velocity"  foreground-color="#b31217" background-color="#ffffff" append="mph"></ng-gauge>
        <ng-gauge size="200" type="full" thick="30" value="68.2" cap="butt" label="Something"  foreground-color="#b31217" background-color="#ffffff" append="mph"></ng-gauge>
         <ng-gauge size="200" type="full" thick="30" value="68.2" cap="butt" label="Something else"  foreground-color="#b31217" background-color="#ffffff" append="mph"></ng-gauge>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Velocity</div>
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Accelleration</div>
            <nvd3 options="accelerationOptions" data="accelerationData"></nvd3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Radar Chart</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="radar.data" labels="radar.labels" click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Pie Chart</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="polar area-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Polar Area Chart</div>
        <div class="panel-body">
          <canvas id="polar" class="chart chart-polar-area" data="polar.data" labels="polar.labels"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamic Chart</div>
            <div class="panel-body">
            <canvas id="base" class="chart chart-base" chart-type="dynamic.type" data="dynamic.data" labels="dynamic.labels" legend="true"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="dynamic.toggle()">Toggle</button>
    </div>
</div>