<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Message Archive</h4>
				<input style="margin-bottom: 10px;" type="text" ng-model="mSearch" placeholder="Search">
			</div>
			<div class="panel-body contact">
			<table class="table table-striped">
		        	<thead>
					<tr>
					<th>Module</th>
					<th>Timestamp</th>
					<th>Data</th>
					<th>Select</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="msg in messages | filter : mSearch">
					<td><span class="label label-info">{{msg.module}}</span></td>
					<td>{{msg.timestamp}}</td>
					<td>{{msg.data}}</td>
					<td><button class="btn btn-success btn-sm" ng-click="add(msg)">Save</button></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;"> Saved Results</div>
			<div class="panel-body saved">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Module</th>
						<th>Timestamp</th>
						<th>Data</th>
						<th>Select</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="msg in saved">
							<td><span class="label label-info">{{msg.module}}</td>
							<td>{{msg.timestamp}}</td>
							<td>{{msg.data}}</td>
							<td><button class="btn btn-danger btn-sm" ng-click="remove(msg)">Remove</button></td>
						</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>