<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Message Archive</h4>
				<input style="margin-bottom: 10px;" type="text" ng-model="mSearch" placeholder="Search">
			</div>
			<div class="panel-body contact">
			<table class="table table-striped">
		        	<thead>
					<tr>
					<th>Module</th>
					<th>Timestamp</th>
					<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="msg in messages | filter : mSearch">
					<td><span class="label label-success">{{msg.module}}</span></td>
					<td>{{msg.timestamp}}</td>
					<td>{{msg.data}}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>